/* ------------------------------------------------------------------------------------------------------------------------------
BASE
-------------------------------------------------------------------------------------------------------------------------------- */

@use 'sass:math';
@use './mixins' as mix;
@use './functions' as fn;
@use './fonts';

html {
  opacity: 1;
  scroll-behavior: smooth;
  transition: opacity 1s ease-in-out;

  &.loaded {
    opacity: 1;
  }
}

body {
  padding: 0;
  margin: 0;
  text-wrap: balance;
}

* {
  &::-webkit-scrollbar {
    background-color: var(--scrollbar);
    inline-size: fn.rem(8);
  }

  &::-webkit-scrollbar-track {
    border-radius: fn.rem(10);
    background: var(--scrollbar-track);
    box-shadow: inset 0 0 fn.rem(6) rgba(#000, 20%);
  }

  &::-webkit-scrollbar-thumb {
    border: 0 none #fff;
    border-radius: fn.rem(10);
    background-color: var(--scrollbar-thumb);
    cursor: pointer;

    @include mix.any-hover {
      background-color: grey;
    }
  }
}

.bred {
  border: 1px solid red;
}

.justify-content-center {
  display: flex;
}

.container {
  margin-inline: auto;
  max-width: 1400px !important;
  padding: 0 20px;
}

.sm-block {
  @include mix.sm {
    display: block;
  }
}

.container-full {
  width: 100%;
  margin-inline: auto;
  max-inline-size: fn.rem(1440);
  min-inline-size: fn.rem(320);
}

.img-responsive {
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image-bg {
  position: relative;

  img {
    position: absolute;
    display: block;
    block-size: 100%;
    inline-size: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
    object-fit: cover;
  }
}

.site-overlay {
  position: fixed;
  z-index: 5;
  backdrop-filter: blur(7px);
  background-color: rgb(0 0 0 / 25%);
  inset: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.no-scroll {
  overflow: hidden;
}

.screen-reader-text {
  position: absolute;
  top: auto;
  left: -9999px;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.screen-reader-text:focus {
  position: static;
  z-index: 1000;
  width: auto;
  height: auto;
  padding: 8px;
  background: #000;
  clip: auto;
  color: #fff;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  margin: -1px !important;
  clip: rect(0 0 0 0) !important;
  white-space: nowrap !important;
}

.wrapper {
  display: flex;
  overflow: clip;
  flex-direction: column;
  min-block-size: 100%;
}

.main {
  position: relative;
  flex: 1 1 auto;
}