/* =========================
   Stapel — normal
   ========================= */

@font-face {
  font-family: 'Stapel';
  src: url('../../../public/fonts/Stapel-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
// 
@font-face {
  font-family: 'Stapel';
  src: url('../../../public/fonts/Stapel-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
// 
@font-face {
  font-family: 'Stapel';
  src: url('../../../public/fonts/Stapel-SemiExpandedMedium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
// 
@font-face {
  font-family: 'Stapel';
  src: url('../../../public/fonts/Stapel-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



// @font-face {
//   font-family: 'Stapel';
//   src: url('../../../public/fonts/Stapel-Bold.ttf') format('truetype');
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Stapel';
//   src: url('../../../public/fonts/Stapel-ExtraBold.ttf') format('truetype');
//   font-weight: 800;
//   font-style: normal;
//   font-display: swap;
// }

// // @font-face {
// //   font-family: 'Stapel';
// //   src: url('../../../public/fonts/Stapel-Black.ttf') format('truetype');
// //   font-weight: 900;
// //   font-style: normal;
// //   font-display: swap;
// // }

// /* =========================
//    Stapel — italic
//    ========================= */

// @font-face {
//   font-family: 'Stapel';
//   src: url('../../../public/fonts/Stapel-ExtraLightItalic.ttf') format('truetype');
//   font-weight: 200;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Stapel';
//   src: url('../../../public/fonts/Stapel-LightItalic.ttf') format('truetype');
//   font-weight: 300;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Stapel';
//   src: url('../../../public/fonts/Stapel-Italic.ttf') format('truetype');
//   font-weight: 400;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Stapel';
//   src: url('../../../public/fonts/Stapel-MediumItalic.ttf') format('truetype');
//   font-weight: 500;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Stapel';
//   src: url('../../../public/fonts/Stapel-BoldItalic.ttf') format('truetype');
//   font-weight: 700;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Stapel';
//   src: url('../../../public/fonts/Stapel-ExtraBoldItalic.ttf') format('truetype');
//   font-weight: 800;
//   font-style: italic;
//   font-display: swap;
// }

// /* =========================
//    Stapel Text
//    ========================= */

// @font-face {
//   font-family: 'Stapel Text';
//   src: url('../../../public/fonts/StapelText-Regular.ttf') format('truetype');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Stapel Text';
//   src: url('../../../public/fonts/StapelText-Bold.ttf') format('truetype');
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Stapel Text';
//   src: url('../../../public/fonts/StapelText-Italic.ttf') format('truetype');
//   font-weight: 400;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Stapel Text';
//   src: url('../../../public/fonts/StapelText-BoldItalic.ttf') format('truetype');
//   font-weight: 700;
//   font-style: italic;
//   font-display: swap;
// }
